.about {
    min-height: 100vh;
    display: flex; 
    flex-flow: column wrap; 
}

.content {
    display: flex;
    justify-content: center;
    align-items: left;
    padding-left: 5%;
    padding-right: 1em;
}

.image {
    display: flex;
    justify-content: center;
}

img {
    padding-bottom: 1em;
    width: 100%;
    align-items: center;
    justify-content: center;
    width: 70%;
}

@media (max-width: 1000px) {
    .about {
        min-height: auto;
        display: flex; 
        flex-flow: column wrap; 
        margin-top: 6em;
    }

    .image {
        height: 100%;
    }

    img {
        padding-top: 4em;
        padding-bottom: 1em;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}

