@font-face {
    font-family: 'SourceCodePro';
    src: local('SourceCodePro'), url('./../fonts/SourceCodePro-Regular.ttf') format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
    font-family: 'SourceCodePro';
}
