
input {
    color: white;
    width: 70%;
    font-size: 20px;
    padding: 4px 8px;
    border: 2px solid #8D8D8D;
    display: block;
    margin-bottom: 1em;
}

textarea {
    color: white;
    width: 70%;
    font-size: 20px;
    padding: 4px 8px;
    border: 2px solid #8D8D8D;
    resize: none;
    display: block;
    margin-bottom: 1em;
}

.contact {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: left;
    padding-right: 1em;
    padding-left: 5%;
}

.footer {
    width: 100%;
    height: auto;
    padding-right: 5%;
    text-align: center;
    align-self: end;
}

.heart *{
    color: #e06b75;
}

.header-title {
    color: #7CE292;
    font-size: 24px;
    margin-bottom: 1em;
}

.header-description {
    color: #FFFFFF;
    font-size: 24px;
    margin-bottom: 1em;
    width: 70%;
}

.form {
    padding-top: 8em;
}

.button-container {
    width: 72.5%
}

.button {
    background-color: #5CAD6E;
    border: none;
    width: 154px;
    height: 40px;
    float: right;
}

.contact-key {
    width: 20%;
    display: inline-block;
}

.contact-dot {
    margin-left: 10%;
    margin-right: 10%;
    display: inline-block;
}

.contact-value {
    font-weight: lighter;
}

.rectangle {
    width: 12px;
    height: 12px;
    background: #DADADA;
    display: inline-block;
    margin-right: 5px;
}

@media (max-width: 990px) {
    input {
        width: 92%;
    }

    textarea {
        width: 92%;
    }

    .form {
        padding-top: 6em;
    }

    .header-description {
        width: 92%;
    }

    .button-container {
        width: 97%
    }

    .button {
        background-color: #5CAD6E;
        border: none;
        width: 154px;
        height: 50px;
        float: right;
    }

    .rectangle {
        width: 8px;
        height: 8px;
        background: #DADADA;
        display: inline-block;
        margin-right: 3px;
    }
}
