.courses-certifications {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: left;
    padding-left: 5%;
    padding-right: 1em;
}

.c-left {
    padding-top: 8em;
}

.c-right {
    padding-top: 8em;
}

.c-text {
    width: 30%;
    display: inline-block;
}

.c-dot {
    margin-left: 10%;
    margin-right: 10%;
    display: inline-block;
}

.c-date {
    font-weight: lighter;
}

.c-rectangle {
    width: 12px;
    height: 12px;
    background: #DADADA;
    display: inline-block;
    margin-right: 5px;
}

@media (max-width: 990px) {
    .c-text {
        font-size: 10px !important;
    }

    .c-date {
        font-size: 10px !important;
    }

    .c-left {
        padding-top: 4em;
    }
    
    .c-right {
        padding-top: 4em;
    }

    .c-dot {
        margin-left: 5%;
        margin-right: 5%;
        display: inline-block;
    }

    .c-MuiListItemIcon-root{
        min-width: 30px !important;
    }

    .c-text {
        width: 30%;
        display: inline-block;
        font-size: 15px;
    }
}
