.experience {
    min-height: 100vh;
    display: flex; 
    flex-flow: column wrap; 
}

.header {
    display: flex;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 5%;
    font-size: 24px;
    color: #8781FF;
    margin-bottom: 1em !important;
}

.timeline {
    display: flex;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 5%;
}

.job-company {
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 16px !important;
}

.job-position {
    font-family: 'SourceCodePro' !important;
    font-weight: 300 !important;
    font-size: 16px !important;
    line-height: 20px !important;
}

.job-description {
    font-family: 'SourceCodePro' !important;
    font-weight: 300 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    width: 92%;
    white-space: pre-wrap;
}


.MuiTypography-h6 {
    font-family: 'SourceCodePro' !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 20px !important;
}

.MuiTimelineItem-missingOppositeContent::before {
    flex: 0.02 !important;
    /* padding: 6px 4px !important; */
    padding-left: 5%;
}

.MuiTimelineContent-root{
    /* padding: 9px 16px !important; */
    padding-left: 5%;
}

.MuiTimelineDot-root.MuiTimelineDot-defaultGrey {
    border-radius: 0 !important;
    background-color: #8781FF !important;
    color: #8781FF !important;
}

@media (max-width: 1000px) {
    .MuiTimelineItem-missingOppositeContent::before {
        flex: 0.02 !important;
        padding: 6px 2px !important;
    }

    .header {
        padding-top: 5em;
    }
}
