.portfolio {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: left;
    padding-right: 1em;
    padding-left: 5%;
    padding-top: 2em;
}

/* CARD STYLES */
.card {
    max-width: 400px;
    /* min-height: 545px; */
    border: 2px solid #8D8D8D;
    margin-bottom: 1em;
}

.card-header {
    height: 2em;
    padding: 0px;
    flex: 0;
    width: 100%;
}

.card-header-title {
    color: white;
    padding-top: 10px;
}

.card-header-subtitle {
    color: white;
    padding-top: 1px;
}

.card-description {
    color: white;
    white-space: pre-wrap;
    height: 100%;
}

.MuiMobileStepper-dots {
    margin: auto;
    background: none;
}

.MuiMobileStepper-dotActive {
    background-color: #E6DB74 !important;
}

@media (max-width: 990px) {
    .card {
        max-width: 320px;
        border: 2px solid #8D8D8D;
        margin-bottom: 2em;
    }

    .card-header {
        font-size: '15px';
    }
}
