.skill {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: left;
    padding-left: 5%;
    padding-right: 1em;
}

.left {
    padding-top: 8em;
}

.right {
    padding-top: 8em;
}

.text {
    width: 25%;
    display: inline-block
}

.rank {
    margin-left: 20%;
}

.rectangle {
    width: 12px;
    height: 12px;
    background: #DADADA;
    display: inline-block;
    margin-right: 5px;
}

@media (max-width: 990px) {
    .left {
        padding-top: 4em;
    }
    
    .right {
        padding-top: 4em;
    }
    .MuiListItemIcon-root{
        min-width: 30px !important;
    }

    .text {
        width: 30%;
        display: inline-block;
        font-size: 15px;
    }

    .rectangle {
        width: 8px;
        height: 8px;
        background: #DADADA;
        display: inline-block;
        margin-right: 3px;
    }
}
